
.aboutmeImg {
        display: flex;
        flex: 0.25;
        border-radius: 50%; 
        width: 30%;
        padding-left: 1000px;
        height: 30%;
}

.firstline::first-letter {
        font-size: 3em;
        padding-left: 20px;
        color: #000000; /* You can choose your desired color */
}

.textwrapper {
        flex: 0.75;
        text-decoration-color: aqua;
}

p {
        font-size: large;
}